<html>
<link rel="stylesheet" type="text/css" href="./assets/Semantic/semantic.css">
<head>
	<title>Voice to text Changer</title>
</head>
<div class="ui secondry menu">
	<h4>Change your voice to text</h4>


</div>
<body>