<!DOCTYPE html>

<% include header %>
<div class="ui internally celled grid">
<form class="ui form" method="POST">
  <div class="field">
    <label>User Input</label>
    <input type="texte" name="txt">
    <br>
    <input type="submit" name="Change" onclick="submit()">
    </form>
  </div>
  <audio>
  	<source src="./assets/y.mp3" type="audio/mp3">

  </audio>
</div>
</div>
 
<% include footer %>
